body {
    background: #EAF6F6;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    overflow-x: hidden;
    
}

h1 {
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}


h2,
h4 {
    color: #66BFBF;
}

h3 {
    font-weight: bold;
    font-size: 2rem;
    color: #1d7a7a;
    margin-bottom: 40px;


}

h4 {
    padding-top: 1em;
}

h5 {
    position: relative;
    display: inline-block;
}


/* Effect digitation */
.glow span {
    color: #66BFBF;
}

.container p span.typed-text {
    color: #1d7a7a;
    margin-top: 100px;
    font-size: 5rem;
}

.container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.container p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

/* Effect digitation */

/* Navbar */
.navbar{
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    background-color: rgba(217, 234, 236, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    
    
}
.nav-link{
    padding-left: 20px;
    padding-right: 20px;
    color: #1d7a7a;
    transition: .5;
}
.navbar-toggler {
    background-color: #1d7a7a;
}
.nav-link:hover{
    color: #000;
}
.navbar-brand{
    color: #1d7a7a;
    font-size: 20px;
}

/* Navbar */


/* Sobre */

#overview {
    width: 90%;
    color: #000;
    display: inline-block;

}

.tec li {
    display: inline-block;
    list-style-type: none;
    color: #1d7a7a;
    width: 200px;
}

/* Sobre */

.ptop {
    padding-top: 200px;
}

/* Projetos */
.grid {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto;
}

#projects a {
    position: relative;
    text-decoration: none;
    color: #fff;
}

#projects p {
    opacity: 80%;
    background: #fff;
    width: 250px;
    height: 90%;
    margin: 10px;
    font-size: 20px;
    display: inline-block;
    transition: .2s;
    font-size: 15px;
    border-radius: 10px;
}

strong {
    font-size: 30px;
}

#projects .text {
    color: #000;
    font-size: 20px;
    display: inline-block;
    height: 300px;
    transition: .2s;
    padding: 20px;
    padding-top: 50px;
    font-size: 15px;
    border-radius: 10px;
    line-height: 12pt;


}

#projects p:hover {
    text-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #1d7a7a;
    opacity: 100%;
}

.Todoimg {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/* Projetos */

footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: #1d7a7a;
    text-align: center;
    margin-top: 200px;
    height: 100px;
}



.links {
    width: 180px;
    left: 550px;
    padding-bottom: 59px;
    position: relative;
    top: -230px;
}


.iconLink {
    display: block;
    color: #1d7a7a;
    font-size: 30px;
}

.iconLink:hover {
    color: #000;
}


#contact .btnResum {
    margin-bottom: 1px;
    width: 30%;
}

a {
    text-decoration: none;
}

.btnResum {
    border-radius: 10px;
    border: #000;
    width: 5%;
    height: 20%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 5px;
    background-color: #1d7a7a;
    color: #fff;
    display: inline-block;
    transition: .3s;

}

.btnResum1 {
    border-radius: 10px;
    border: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 5px;
    margin-top:3px;
    background-color: #1d7a7a;
    color: #fff;
    display: inline-block;
    transition: .3s;

}

.btnResum:hover {
    background-color: #FFF;
    color: #1d7a7a;
}

.btnResum1:hover {
    background-color: #FFF;
    color: #1d7a7a;
}

.btnproject {
    border-radius: 5px;
    border: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 50px;
    background-color: #1d7a7a;
    color: #fff;
    display: inline-block;
    transition: .3s;
}

.btnproject:hover {
    background-color: #FFFFFF;
    color: #1d7a7a;
}

.btnproject,
.btnResum {
    font-family: 'Open Sans', sans-serif;
}

.navRoll {
    visibility: hidden;
}
.formular{
 background-color: #FFF;
 padding: 30px;
 width: 100%;
 border-radius: 20px;
}
.iconForm{
    display: block;
    font-size: 20px;
    color: #1d7a7a;
    text-align: end;
    resize: none;
    transition: .5s;
 
}
textarea{
    resize: none;
}
.iconForm:hover {
    color: #000;
}
.summary-language{
    padding-top: 20px;
    display: block;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-weight: 600;
    color: #6e6e73;
    margin-top: 0.8em;
}

/* responsivity */
@media screen and (max-width: 768px) {
    .grid {
        
        display: grid;
        grid-template-columns: auto auto;
        
    }
    
    .iconLink {
        display: block;
        position: relative;
        color: #1d7a7a;
        font-size: 30px;
        left: -545px;
        top: -100px;
       
    ;
    }

    .glow2{
        margin-top: 231px;
    }
    }

@media screen and (max-width: 450px) {
    .grid {
        
        display: grid;
        grid-template-columns: auto;
    }
    .container p span.typed-text {
        font-size: 3rem;
    }
    .tec{
        padding-left: 0;
    }
}
