body {

    font-family: 'Open Sans', sans-serif;
    text-align: left;
    overflow-x: hidden;
    background: #f5f5f7;

}

.container {
    display: grid;

    width: 70%;

}

.img {
    width: 25px;
}

th {
    font-weight: normal;
}

h1 {
    
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: left;
}

h4 {
    padding-top: 1em;
}

h5 {
    position: relative;
    display: inline-block;
}

h3,
h4,
footer,
.glow span,
.tec li,
.btnResum:hover,
.btnproject:hover {
    color: rgb(1 31 63 / 80%);
}


/* Effect digitation */


.container p span.typed-text {
    color: rgb(73 141 125);
    margin-top: 100px;
    font-size: 5rem;
}

.container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.container p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

/* Effect digitation */

/* Navbar */
.navbar {
    top: 0;
    position: fixed;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    background-color: rgb(1 31 63 / 80%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    padding-top: 0;
    padding-bottom: 0;


}

.nav-link {
    font-size: 18px;
    padding-right: 20px;
    color: #fff;
    transition: .5;
}

.navbar-toggler {
    border: 000;

}

.navbar-toggler-icon {
    width: 25px;
}

.nav-link:hover {
    color: #52cb95;
}

/* Navbar */


/* Sobre */

#overview {
    color: #000;
    display: inline-block;

}

.tec li {
    display: inline-block;
    list-style-type: none;
    width: 200px;
}

/* Sobre */

.ptop {
    padding-top: 200px;
}

/* Projetos */
.grid {
    columns: 15rem auto;
    column-fill: balance;
}
#projects{
    text-align: center;
}
#projects a {
  
    position: relative;
    text-decoration: none;
    color: #fff;
}

#projects p {
    opacity: 80%;
    text-align: left;
    background: #fff;
    width: 250px;
    height: 90%;
    margin: 10px;
    font-size: 20px;
    display: inline-block;
    transition: .2s;
    font-size: 15px;
    border-radius: 10px;
}

strong {
    font-size: 30px;
}

#projects .text {
    color: #000;
    font-size: 20px;
    display: inline-block;
    height: 300px;
    transition: .2s;
    padding: 20px;
    padding-top: 50px;
    font-size: 15px;
    border-radius: 10px;
    line-height: 12pt;
}

#projects p:hover {
    text-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px rgb(1 31 63 / 80%);
    opacity: 100%;
}

.Todoimg {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/* Projetos */

footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 200px;
    height: 100px;
}




.iconLink, .iconForm {
    display: block;
    color: rgb(1 31 63);
    font-size: 30px;
    transition: .5s;
}
.resume{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 150px 50px 50px 0;
}
.iconLink:hover,
.iconForm:hover,.tec li:hover {
    color: #1d7a7a;
}


#contact .btnResum {
    margin-bottom: 1px;
    width: 30%;
}

a {
    text-decoration: none;
}

.btnResum,
.btnproject {
    border-radius: 5px;
    border: #000;
    font-size: 15px;
    padding: 3px;
    margin-top: 8px;
    margin-bottom: 5px;
    background-color: rgb(1 31 63 / 80%);
    color: #fff;
    display: inline-block;
    transition: .3s;

}

.btnproject {
    margin-left: 20px;
    margin-bottom: 50px;
    background-color: rgb(1 31 63);
}

.btnResum:hover,
.btnproject:hover {
    background-color: #FFF;

}

.formular {

    background-color: #FFF;
    padding: 30px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.iconForm {
    font-size: 20px;
}

.summary-language {
    padding-top: 20px;
    display: block;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-weight: 600;
    color: #6e6e73;
    margin-top: 0.8em;
}

/* responsivity */
@media screen and (max-width: 768px) {
    .resume{
        flex-direction: column;
    }
    .centralize{
        display: flex;
    }
    
}
@media screen and (max-width: 600px) {
   .container{
    width: auto;
   }
   .container p span.typed-text {
    font-size: 4rem;
}

}